.home-container {
  background-color: aquamarine;
  width: 100%;
  box-sizing: border-box;
}

/* .content-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;

} */
.content-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px; /* adjust spacing between products */
}
